body {
    background-color: #ff5e00;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: #ffae3f;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 32px;
}
.loginDiv {
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 20px;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

#loginButton {
    width: 200px;
    background-color: cornflowerblue;
}

#loginButton:hover {
    background-color: dodgerblue;
}
#loggedInDetails {
    margin: 0;
    text-align: right;
    display: inline;
    float: right
}
 #searchButton, #createQuizButton, #createFlashcardButton {
     background-color: #af6a2f;
     border: none;

     padding: 20px 36px;
     border-radius: 16px;
     text-align: center;
     display: inline;
     font-size: 32px;


}
 #loginButton {
     color: black;
     font-size: 14px;
     border: none;
     padding: 8px;
     border-radius: 8px;
 }

.scrollablequiz {
    height: 200px;
    overflow-y: auto;


}
.scrollableflashcard {
    height: 200px;
    overflow-y: auto;

}

.centreText {
    text-align: center;
}

.pushMeDown {
    padding-top: 90px;
    padding-bottom: 20px;
}
.padding {
    padding: 20px;
}
